.training-images {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60vh;
    transform-style: preserve-3d;
    z-index: -30;
    transform: translateY(400px);
}

.training-images .background,
.foreground-near, .foreground-far {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -30;
}

.training-images .background {
    transform: translateZ(-20px) scale(3);
    object-fit: cover;
}

.training-images .foreground-near {
    transform: translateZ(-5px) scale(1) translateX(-150px) translateY(100px);
    object-fit: contain;
}

.training-images .foreground-far {
    transform: translateZ(-10px) scale(1.4) translateX(180px) translateY(-100px);
    object-fit: contain;
}

.training-section {
    /*transform: translateY(700px); */
    margin-top: 500px;
    /*z-index: -1;*/
}

@media screen and (min-width: 800px) {
    .training-images .foreground-near {
        transform: translateZ(-5px) scale(0.9) translateX(-150px) translateY(100px);
    }

    .training-images .foreground-far {
        transform: translateZ(-10px) scale(1.4) translateX(240px) translateY(-100px);
    }
}

@media screen and (min-width: 1000px) {
    .training-images .foreground-near {
        transform: translateZ(-5px) scale(0.8) translateX(-200px) translateY(100px);
    }

    .training-images .foreground-far {
        transform: translateZ(-10px) scale(1.4) translateX(240px) translateY(-100px);
    }
}

@media screen and (min-width: 1000px) {
    .training-images .foreground-near {
        transform: translateZ(-5px) scale(0.8) translateX(-240px) translateY(100px);
    }

    .training-images .foreground-far {
        transform: translateZ(-10px) scale(1.3) translateX(340px) translateY(-100px);
    }
}

