body {
    height: 100vh;
    margin: 0;
}

.sections-wrapper {
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-color: #fcf7f7;
    scroll-behavior: smooth;
}

.gradient {
    -webkit-mask-image:
            linear-gradient(to bottom,transparent 0%, rgba(0,0,0,0.5) 5%, black 10%, black 80%, rgba(0,0,0,0.8) 90%, transparent 100%);
    mask-image: linear-gradient(to bottom,transparent 0%, rgba(0,0,0,0.5) 5%, black 10%, black 80%, rgba(0,0,0,0.8) 90%, transparent 100%);
}
